<div class="min-h-full">
  <header class="bg-white shadow">
    <div class="max-w-7x2 mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Dashoe</h1>
    </div>
  </header>
  <main>
    <div>
      <%= link("Back To Dashboard", to: Routes.page_path(@socket, :index)) %>
    </div>
    <div class="h-20 w-2/3">
      <%= Plot.to_svg(@plot) %>
    </div>
  </main>
</div>
